<form method="post" action="/store" enctype="multipart/form-data">



    Ingrese RUT
    <input type="number" name="RUT" id="rut">
    <br>
    Ingrese Nombre Completo
    <input type="text" name="nombre_completo" id="nombre_completo">
    <br>
    Ingrese Sexo
    <input type="text" name="sexo" id="sexo">
    <br>
    Ingrese Cargo
    <input type="text" name="cargo" id="cargo">
    <br>
    Ingrese Direccion
    <input type="text" name="direccion" id="direccion">
    <br>
    Ingrese fecha de ingreso
    <input type="date" name="fecha_ingreso" id="fecha_ingreso">
    <br>
    <input type="submit" value="Agregar">
    
</form>